@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: lightgrey;
  font-family: Montserrat;
  text-decoration: none;
}

header {
  width: 100%;
  height: 60px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  position: fixed;
  background-color: teal;
  z-index: 1;
}

body {
  background-color: teal;
}

body._lock {
  overflow: hidden;
}

.header_content {
  height: 100%;
  margin-left: 210px;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  align-items: center;
  justify-items: center;
}

.roundButton {
  width: 40px;
  height: 40px;
  background-color: black;
  border-radius: 50px;
  border: none;
}

.clearTrashCanButton {
  position: fixed;
  right: 0;
  bottom: 0;
  margin-right: 30px;
  margin-bottom: 30px;
  width: 50px;
  height: 50px;
  display: block;
}

.burger_menu_button {
  visibility: hidden;
  grid-column: 3;
}

.burger_menu_button._active {
  background-color: teal;
}

.burger_menu_close_button {
  background-color: white;
  visibility: hidden;
  grid-column: 3;
  justify-self: center;
}

.control_button {
  background-color: lightgrey;
  padding: 10px;
  border: none;
  border-radius: 10px;
  color: black;
  font-size: 14px;
  cursor: pointer;
  transition: 0.2s;
}

.control_button:hover {
  background-color: white;
}

.header_content .control_button {
  grid-column: 2;
}

.profile {
  display: flex;
  width: 100%;
  height: 60px;
  background: none;
  align-items: center;
}

.avatar {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  margin: 10px;
}

.personal_information {
  display: inline-block;
  font-size: 14px;
}

.menu {
  z-index: 2;
  position: fixed;
  height: 100%;
  width: 190px;
  margin-left: 10px;
  background: linear-gradient(180deg, black 0%, rgba(0, 0, 0, 0.9) 60%, rgba(0, 0, 0, 0.6) 100%);
  transition: 0.2s;
  z-index: 2;
}

.menu._active {
  margin-left: 0;
  width: 100%;
}

.categories_container {
  display: inline-block;
  width: 100%;
  height: 60px;
}

.notes_container {
  padding: 80px 20px;
  margin-left: 200px;
  columns: 5;
  column-gap: 15px;
}

.notes_container .card {
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
  margin: 10px;
  padding: 5px;
  font-size: 16px;
  width: 100%;
  break-inside: avoid;
  padding: 10px;
  margin: 0 0 15px;
  overflow: hidden;
  max-width: 380px;
  display: inline-block;
  transform: translateZ(0);
  transition: 0.2s;
}

.card:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

.cardContent {
  width: 100%;
  height: 100%;
}

.cardName {
  font-weight: bold;
  display: block;
  margin: 5px 0;
}

.cardDescription {
  max-height: 290px;
  overflow: hidden;
  margin: 5px 0;
}

.cardTags {
  display: flex;
  flex-wrap: wrap;
  font-size: 12px;
  margin-right: 5px;
  color: black;
}

.cardTags .tag {
  margin-right: 5px;
  margin-bottom: 5px;
  padding: 2px 4px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 6px;
}

.timeArea {
  font-weight: 200;
  font-size: 20px;
  margin: 5px 0;
}

@media (max-width: 1040px) {
  .header_content {
    margin: 0;
  }

  .notes_container {
    columns: 4;
  }
}
@media (max-width: 768px) {
  .profile {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
  }

  .menu {
    margin-left: -190px;
  }

  .notes_container {
    margin: 0;
    columns: 3;
  }

  .burger_menu_button {
    visibility: visible;
  }

  .burger_menu_close_button {
    visibility: visible;
  }
}
@media (max-width: 480px) {
  .notes_container {
    columns: 2;
  }
}