@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: lightgrey;
  font-family: Montserrat;
  text-decoration: none;
  transition: 0.2s;
}

header {
  width: 100%;
  height: 60px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  position: fixed;
  background-color: teal;
  z-index: 1;
}

body {
  background-color: teal;
}

body._lock {
  overflow: hidden;
}

.header_content {
  height: 100%;
  margin-left: 210px;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  align-items: center;
  justify-items: center;
}

.clearTrashCanButton {
  width: 40px;
  height: 40px;
  background-color: black;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  position: fixed;
  right: 0;
  bottom: 0;
  margin-right: 30px;
  margin-bottom: 30px;
  width: 50px;
  height: 50px;
  display: block;
}

.burger_menu_button {
  width: 40px;
  height: 40px;
  background-color: black;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  visibility: hidden;
  grid-column: 3;
}

.burger_menu_button._active {
  background-color: teal;
}

.burger_menu_close_button {
  width: 40px;
  height: 40px;
  background-color: black;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  background-color: white;
  visibility: hidden;
  grid-column: 3;
  justify-self: center;
}

.control_button {
  background-color: lightgrey;
  padding: 10px;
  border: none;
  border-radius: 10px;
  color: black;
  font-size: 14px;
  cursor: pointer;
}

.control_button:hover {
  background-color: white;
}

.header_content .control_button {
  grid-column: 2;
}

.profile {
  display: flex;
  width: 100%;
  height: 60px;
  background: none;
  align-items: center;
}

.avatar {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  margin: 10px;
}

.personal_information {
  display: inline-block;
  font-size: 14px;
}

.menu {
  z-index: 2;
  position: fixed;
  height: 100%;
  width: 190px;
  margin-left: 10px;
  background: linear-gradient(180deg, black 0%, rgba(0, 0, 0, 0.9) 60%, rgba(0, 0, 0, 0.6) 100%);
  z-index: 2;
}

.menu._active {
  margin-left: 0;
  width: 100%;
}

.tags_container {
  display: inline-block;
  width: 100%;
  padding: 0 10px;
}

.add_tag_form {
  display: grid;
  grid-template-columns: 7fr 1fr;
  align-items: center;
  justify-items: center;
  padding-left: 5px;
  border: 2px solid darkgrey;
  border-radius: 10px;
}

.save_tag_button {
  width: 40px;
  height: 40px;
  background-color: black;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  display: block;
  width: 28px;
  height: 28px;
  margin: 2px;
}

.save_tag_button:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.add_tag_form .tag_title_input {
  display: inline-block;
  margin: 0;
  font-size: 16px;
  background-color: transparent;
  border: none;
  color: white;
}

.add_tag_form .tag_title_input::placeholder {
  color: darkgrey;
}

.tag_button {
  width: 100%;
  margin: 10px 0;
  border: 2px solid darkgrey;
  color: darkgrey;
  border-radius: 10px;
  padding: 5px;
  font-size: 16px;
}

.tag_button:hover {
  background-color: darkgrey;
  color: black;
}

.custom_tag_button {
  display: grid;
  grid-template-columns: 7fr 1fr;
  align-items: center;
  justify-content: center;
  padding: 0px;
  font-size: 16px;
  color: darkgrey;
  font-weight: 300;
  border: 2px solid darkgrey;
  border-radius: 10px;
  padding-left: 5px;
  margin: 10px 0;
}

.custom_tag_button:hover {
  background-color: darkgrey;
}

.delete_tag_button {
  width: 40px;
  height: 40px;
  background-color: black;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  width: 28px;
  height: 28px;
  margin: 2px;
  display: block;
  z-index: 5;
  background-color: transparent;
}

.delete_tag_button:hover {
  background-color: #fff;
}

.notes_container {
  padding: 80px 20px;
  margin-left: 200px;
  columns: 5;
  column-gap: 15px;
}

.notes_container .card {
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
  margin: 10px;
  padding: 5px;
  font-size: 16px;
  width: 100%;
  break-inside: avoid;
  padding: 10px;
  margin: 0 0 15px;
  overflow: hidden;
  max-width: 380px;
  display: inline-block;
  transform: translateZ(0);
}

.card:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

.cardContent {
  width: 100%;
  height: 100%;
}

.cardName {
  font-weight: bold;
  display: block;
  margin: 5px 0;
}

.cardDescription {
  max-height: 290px;
  overflow: hidden;
  margin: 5px 0;
}

.cardTags {
  display: flex;
  flex-wrap: wrap;
  font-size: 12px;
  margin-right: 5px;
  color: black;
}

.cardTags .tag {
  margin-right: 5px;
  margin-bottom: 5px;
  padding: 2px 4px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 6px;
}

.timeArea {
  font-weight: 200;
  font-size: 20px;
  margin: 5px 0;
}

.cardManipulationButton {
  font-size: 12px;
  font-weight: bold;
  color: black;
  padding: 2px 5px;
  border-radius: 5px;
}

.cardManipulationButton:hover {
  background-color: black;
  color: darkgrey;
}

.form_container {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  padding: 60px 20px;
  text-align: center;
  width: 35%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  border-radius: 20px;
  font-size: 14px;
}

.form h1 {
  margin: 20px 0;
}

.form a {
  color: white;
}

.socialaccount_ballot {
  padding: 20px 0;
}

.vk_button {
  width: 100%;
  padding: 10px 0px;
  background-color: #2787F5;
  border-radius: 10px;
  color: #FFFFFF;
  font-family: -apple-system, BlinkMacSystemFont, Roboto, Open Sans, Helvetica Neue, sans-serif;
  font-size: 24px;
  margin: 20px 0;
}

.input {
  width: 100%;
  border: none;
  font-size: 24px;
  border-radius: 10px;
  color: dimgrey;
  padding: 5px;
  display: inline;
  margin: 10px 0;
}

.login-or {
  font-size: 16px;
}

.input:focus {
  outline: none;
}

.forgot_password {
  margin: 30px 0;
}

.form .control_button {
  width: 100%;
  font-size: 24px;
}

.signup_form_fields {
  text-align: left;
  margin: 20px 0;
}

#id_username {
  width: 100%;
  border: none;
  font-size: 24px;
  border-radius: 10px;
  color: dimgrey;
  padding: 5px;
  display: inline;
  margin: 10px 0;
}

#id_email {
  width: 100%;
  border: none;
  font-size: 24px;
  border-radius: 10px;
  color: dimgrey;
  padding: 5px;
  display: inline;
  margin: 10px 0;
}

#id_password1 {
  width: 100%;
  border: none;
  font-size: 24px;
  border-radius: 10px;
  color: dimgrey;
  padding: 5px;
  display: inline;
  margin: 10px 0;
}

#id_password2 {
  width: 100%;
  border: none;
  font-size: 24px;
  border-radius: 10px;
  color: dimgrey;
  padding: 5px;
  display: inline;
  margin: 10px 0;
}

.note_input {
  color: white;
  background-color: transparent;
  width: 100%;
  border: none;
  border-bottom: 2px solid darkgrey;
}

.note_title_input {
  font-size: 28px;
  display: inline;
}

.note_description_input {
  position: relative;
  max-width: 100%;
  min-width: 100%;
  padding: 5px;
  margin: 20px 0;
  font-size: 24px;
  border: 2px solid darkgrey;
  border-radius: 10px;
  height: 250px;
}

.note_input::placeholder {
  color: lightgrey;
}

.note_input:focus {
  outline: none;
  border-color: white;
}

#select_tags {
  margin-top: 0;
  margin-bottom: 20px;
  max-height: 120px;
}

#select_tags option {
  color: black;
  border-radius: 5px;
  padding-left: 5px;
}

@media (max-width: 1040px) {
  .header_content {
    margin: 0;
  }

  .notes_container {
    columns: 4;
  }

  .form {
    width: 60%;
    font-size: 18px;
  }
}
@media (max-width: 768px) {
  .profile {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
  }

  .menu {
    margin-left: -190px;
  }

  .notes_container {
    margin: 0;
    columns: 3;
  }

  .burger_menu_button {
    visibility: visible;
  }

  .burger_menu_close_button {
    visibility: visible;
  }

  .form {
    width: 95%;
    box-shadow: none;
    border-radius: 0;
  }

  .tag_button {
    font-size: 20px;
    padding: 10px 5px;
  }

  .add_tag_form .tag_title_input {
    font-size: 20px;
    padding: 10px 5px;
    font-weight: bold;
  }

  .save_tag_button {
    width: 40px;
    height: 40px;
  }

  .delete_tag_button {
    width: 40px;
    height: 40px;
    font-size: 20px;
  }
}
@media (max-width: 480px) {
  .notes_container {
    columns: 2;
  }
}