{% extends 'DiarySiteApp/notesOutput.html' %}

{% block notes %}
    <div class="notes_container">
        {% for note in notes %}
            <div class="card">
                <a href="noteform/{{note.id}}">
                    <div class="cardContent">
                        {% if note.title %}
                            <div class="cardName">{{note.title}}</div>
                        {% endif %}
                        {% if note.description%}
                            <div class="cardDescription">{{note.description}}</div>
                        {% endif %}
                        {% if note.tags%}
                            <div class="cardTags">
                                {% for tag in tags %}
                                    {% if tag in note.tags %}
                                        <div class="tag">{{tag}}</div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        {% endif %}
                        {% if note.planned_date %}
                            <div class="timeArea">{{note.planned_date |date:"j E H:i"}}</div>
                        {% endif %}
                    </div>
                </a>
                <a href="toTrashCan/{{note.id}}" id="delete">В корзину</a>
            </div>
        {% endfor %}
    </div>
{% endblock %}