{% extends 'DiarySiteApp/base.html' %}

{% block title %}{{title}}{% endblock %}

{% block content %}
{% if request.user.is_authenticated %}
<div class="form_container">
    <div class="form">
        <form method="POST">
            {% csrf_token %}
            <input type="text" name="title" value="{{note.title}}" placeholder="Название заметки" autocomplete="off" class="note_input note_title_input">
            <textarea name="description" id="description" placeholder="Описание" class="note_input note_description_input">{{note.description}}</textarea>
            <select name="select_tags" id="select_tags" class="input" multiple>
                {% if tags %}
                    {% for tag in tags %}
                        <option value="{{tag.id}}">{{tag.title}}</option>
                    {% endfor %}
                {% endif %}
            </select>
            <button type="submit" class="control_button">Сохранить</button>
        </form>
    </div>
</div>
{% endif %}
{% endblock %}